In [36]:
import pandas as pd
df=pd.read_csv('test.csv')

In [52]:
df

,id,age,job,Employment,marital,education,default,balance,housing,loan,contact,day,month,duration,y,Eligibility,Eligibility2,Eligibility3
0,1,58,management,Employed,married,tertiary,no,2143,yes,no,unknown,5,may,261,no,Secured,Unsecured,Loan
1,2,44,technician,Employed,single,secondary,no,29,yes,no,unknown,5,may,151,no,,Unsecured,Loan
2,3,33,entrepreneur,Other,married,secondary,no,2,yes,yes,unknown,5,may,76,no,,,
3,4,47,blue-collar,Employed,married,unknown,no,1506,yes,no,unknown,5,may,92,no,Secured,,
4,5,33,unknown,Other,single,unknown,no,1,no,no,unknown,5,may,198,no,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,45207,51,technician,Employed,married,tertiary,no,825,no,no,cellular,17,nov,977,yes,,Unsecured,Loan
45207,45208,71,retired,Other,divorced,primary,no,1729,no,no,cellular,17,nov,456,yes,Secured,,
45208,45209,72,retired,Other,married,secondary,no,5715,no,no,cellular,17,nov,1127,yes,Secured,,
45209,45210,57,blue-collar,Employed,married,secondary,no,668,no,no,telephone,17,nov,508,no,,,
45210,45211,37,entrepreneur,Other,married,secondary,no,2971,no,no,cellular,17,nov,361,no,Secured,Unsecured,

In [ ]:
df.info()

In [ ]:
df.describe()

In [3]:
#Kiểm tra data bị trùng
df.duplicated().sum()

0

In [39]:
#Xóa bỏ những dòng trống
df=df.dropna()

In [38]:
#Xóa bỏ những cột không dùng đến (campaign, pdays, previous, poutcome)
df1=df.drop(['campaign', 'pdays', 'previous', 'poutcome'],axis=1,inplace=True)

In [40]:
#Tạo cột id để định danh cho từng khách hàng
df['id'] = df.reset_index().index +1

In [ ]:
#Tạo cột Employment cách 1
job_mapping = {
    'admin.': 'Employed',
    'blue-collar': 'Employed',
    'entrepreneur': 'Employed',
    'housemaid': 'Employed',
    'management': 'Employed',
    'retired': 'Unemployed',
    'self-employed': 'Employed',
    'services': 'Employed',
    'student': 'Unemployed',
    'technician': 'Employed',
    'unemployed': 'Unemployed',
    'unknown': 'Unemployed'
}

df['Employment'] = df['job'].map(job_mapping)

In [41]:
#Tạo cột Employment cách 2
import numpy as np

df['Employment'] = np.where(df['job'].isin(['admin.','blue-collar','housemaid','management','services','technician']), 'Employed', 'Other')

In [ ]:
df['Eligibility']=None

In [42]:
#Credit card secure
df_card_secured=df[(df['balance'] >=1000) & (df['age']>=18)]#.sort_values(['contact','duration'],ascending=[True,False]).reset_index()

In [43]:
df_card_secured

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,y,id,Employment
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,no,1,Employed
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,no,4,Employed
34,51,management,married,tertiary,no,10635,yes,no,unknown,5,may,336,no,35,Employed
40,44,services,divorced,secondary,no,2586,yes,no,unknown,5,may,160,no,41,Employed
50,54,blue-collar,married,secondary,no,1291,yes,no,unknown,5,may,266,no,51,Employed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,no,45200,Employed
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,yes,45205,Other
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,yes,45208,Other
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,yes,45209,Other
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,no,45211,Other

In [ ]:
#Credit card unsecured cách 1
df[(df['age']<=60) & (df['balance']>=4000) & (df['default']=='no') & (df['job'] != 'unemployed') & (df['job'] != 'unknown') & (df['job'] != 'student') & (df['job'] != 'blue-collar') & (df['job'] != 'housemaid')].sort_values(['contact','duration'],ascending=[True,False]).reset_index()

In [44]:
#Credit card unsecured cách 2
df_card_unsecured=df[((df['age']<=60) & (df['age']>=21) & (df['Employment']=='Employed') & (df['default']=='no') & (~df['job'].isin(['blue-collar','housemaid']))) | ((df['age']<=60) & (df['age']>=21)& (df['balance']>=1080) & (df['job'].isin(['self-employed','entrepreneur','retired']) & (df['default']=='no')))]

In [45]:
df_card_unsecured

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,y,id,Employment
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,no,1,Employed
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,no,2,Employed
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,no,6,Employed
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,no,7,Employed
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,no,10,Employed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,yes,45202,Employed
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,yes,45203,Employed
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,yes,45206,Employed
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,yes,45207,Employed
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,no,45211,Other

In [46]:
#personal loan
df_loan=df[(df['age']>=24) & (df['age']<=60) & (df['Employment']=='Employed') & (df['loan']=='no') & (df['default']=='no') & (~df['job'].isin(['blue-collar','housemaid']))].sort_values(['contact','month','duration'],ascending=[True,False,False])

In [47]:
df_loan

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,y,id,Employment
41574,46,management,married,tertiary,no,273,yes,no,cellular,15,sep,1962,yes,41575,Employed
41588,40,technician,married,tertiary,no,1293,no,no,cellular,16,sep,1702,yes,41589,Employed
41609,59,technician,married,tertiary,no,883,no,no,cellular,18,sep,1551,no,41610,Employed
44824,28,admin.,single,secondary,no,127,no,no,cellular,16,sep,1334,yes,44825,Employed
44898,24,management,single,tertiary,no,393,no,no,cellular,27,sep,1298,yes,44899,Employed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44598,29,admin.,married,secondary,no,1937,no,no,unknown,25,aug,6,no,44599,Employed
44599,35,admin.,married,secondary,no,2374,yes,no,unknown,25,aug,5,no,44600,Employed
43434,36,management,single,tertiary,no,579,no,no,unknown,12,apr,481,yes,43435,Employed
43564,30,admin.,single,secondary,no,915,yes,no,unknown,27,apr,370,yes,43565,Employed
43472,38,technician,married,secondary,no,497,no,no,unknown,14,apr,173,yes,43473,Employed

In [48]:
#map secured vào bảng tổng
df['Eligibility']=df['id'].isin(df_card_secured['id']).map({True: 'Secured',False:''})

In [49]:
#map unsecured vào bảng tổng
df['Eligibility2']=df['id'].isin(df_card_unsecured['id']).map({True: 'Unsecured',False:''})

In [50]:
#map personal loan vào bảng tổng
df['Eligibility3']=df['id'].isin(df_loan['id']).map({True: 'Loan',False:''})

In [51]:
df=df[['id','age','job','Employment','marital','education','default','balance','housing','loan','contact','day','month','duration','y','Eligibility','Eligibility2','Eligibility3']]

In [56]:
df=df.sort_values(['Eligibility3','Eligibility2','Eligibility','contact','month','duration'],ascending=[False,False,False,True,False,False])

In [53]:
set(df['month'])

{'apr',
 'aug',
 'dec',
 'feb',
 'jan',
 'jul',
 'jun',
 'mar',
 'may',
 'nov',
 'oct',
 'sep'}

In [54]:
month_order = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']

In [55]:
df['month'] = pd.Categorical(df['month'], month_order)

In [57]:
df

,id,age,job,Employment,marital,education,default,balance,housing,loan,contact,day,month,duration,y,Eligibility,Eligibility2,Eligibility3
42569,42570,28,management,Employed,single,tertiary,no,1840,no,no,cellular,28,dec,1472,no,Secured,Unsecured,Loan
42420,42421,58,admin.,Employed,single,secondary,no,2223,no,no,cellular,4,dec,1139,no,Secured,Unsecured,Loan
42448,42449,29,technician,Employed,single,tertiary,no,2489,yes,no,cellular,7,dec,1002,no,Secured,Unsecured,Loan
42553,42554,47,management,Employed,married,tertiary,no,1122,no,no,cellular,24,dec,956,no,Secured,Unsecured,Loan
42572,42573,44,management,Employed,married,unknown,no,2724,no,no,cellular,28,dec,893,yes,Secured,Unsecured,Loan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43083,43084,44,blue-collar,Employed,married,primary,no,622,yes,no,unknown,21,feb,66,no,,,
43162,43163,34,self-employed,Other,married,secondary,no,173,no,no,unknown,26,feb,36,no,,,
43116,43117,40,blue-collar,Employed,single,primary,no,118,no,no,unknown,23,feb,16,no,,,
42595,42596,45,unemployed,Other,married,secondary,no,891,yes,no,unknown,7,jan,118,yes,,,
42591,42592,38,blue-collar,Employed,married,secondary,no,863,no,no,unknown,6,jan,78,no,,,

In [ ]:
df.to_csv('Final.csv',index=False)